footer {
    margin-top: 200px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
}
  
footer .address {
    color: #fff;
}
  
footer .address h3{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}
  
footer .address h3::after{
    display: block;
    height: 5px;
    width: 45px;
    background-color: #fff;
    content: "";
    margin-top: 16px;
    margin-bottom: 20px;
}
    
footer .address a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    display: block;
    margin-bottom: 14px;

}

footer .address p {
    font-size: 13px;
}

footer .contact{
    margin-left: 150px;
    margin-right: 150px;
}

footer .contact ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
}
  
footer .contact ul li{
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
    justify-content: space-evenly;
    text-align: center;
    height: 38px;
    width: 195px;
    display: flex;
    align-items: center;
}

footer .contact img{
    margin-top: 10px;
}
  
footer .contact ul li:last-child{
    margin-bottom: 0;
}
  
footer .contact ul li a{
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
  
footer .contact ul li a::before{
    content: '';
    background-image: url('image/ico-email.png');
    height: 16px;
    width: 16px;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 18px;
}
  
footer .contact ul li:last-child a::before{
    background-image: url('image/ico-headphone.png');
}

footer .created div{
    display: inline-block;
    margin-left: 40px;
    font-size: 10px;
}

footer .created img{
    width: 71.44px;
    height: 18px;
    position: absolute;
    margin-top: -9px;
}

footer .created p{
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    color: #fff;
}
  
@media screen and (max-width: 600px) {
    footer {
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 27px 17px;
    }
    footer .contact {
        margin: 27px auto;
    }
    footer .contact ul {
        display: flex;
    }
    footer .created {
        margin: 0 auto;
        width: 224px;
        justify-content: space-between;
    }
}
  